{% extends 'FOSMessageBundle::layout.html.twig' %}

{% form_theme form '::form.html.twig' %}

{% block fos_message_content %}

<h2>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h2> <hr />

<br />

<form action="{{ url('fos_message_thread_new') }}" method="post" class="form-horizontal" role="form">
    {# form_widget(form) #}
    
    {{ form_errors(form) }}
    
    <div class="form-group">
        <div class="col-lg-2 text-right">{{ form_label(form.recipient) }}</div>
        <div class="col-lg-10">{{ form_widget(form.recipient) }}</div>
    </div>
    
    <div class="form-group">
        <div class="col-lg-2 text-right">{{ form_label(form.subject) }}</div>
        <div class="col-lg-10">{{ form_widget(form.subject) }}</div>
    </div>
    
    <div class="form-group">
        <div class="col-lg-2 text-right">{{ form_label(form.body) }}</div>
        <div class="col-lg-10">{{ form_widget(form.body) }}</div>
    </div>

    <input type="submit" class="btn btn-primary pull-right" />
</form>

{% endblock %}
