<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MinePlus{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
        {% endblock %}
        
        {# For context-specific styles #}
        <style type="text/css">
            {% block styles %}
            {% endblock %}
        </style>
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block body %}
            {% block navbar %}
                <div class="navbar">
                    <a class="navbar-brand" href="#">MinePlus</a>
                    <ul class="nav navbar-nav">
                        {# 
                            TODO: normally this should only be used for debugging,
                            we'll find a better/safer checking mechanism!
                        #}
                        <li{% if app.request.get('_route') == 'dashboard' %} class="active"{% endif %}>
                            <a href="{{ path('dashboard') }}">Dashboard</a>
                        </li>
                    </ul>
                    {% if is_granted('ROLE_USER') %}
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    {% if config.navbar.avatar.show %}
                                        <img src="{{ app.user.getAvatarUrl(config.navbar.avatar.size) }}" />
                                    {% endif %}
                                    {{ app.user.username }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('logout') }}">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <a class="btn navbar-btn btn-primary pull-right chat-indicator" data-toggle="modal" href="#chat-modal">Chat</a>
                    {% else %}
                        <a class="btn navbar-btn btn-default pull-right" href="{{ path('login') }}">Login</a>
                    {% endif %}
                </div>
            {% endblock %}
            <div class="row">
                <div class="col-lg-11 col-offset-1">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            {% block chat %}
                <div class="modal fade" id="chat-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Chat</h4>
                            </div>
                            <div class="modal-body chat-log">
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block footer %}
                {# TODO: that's for the future ;) #}
            {% endblock %}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/chat.js') }}"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    var url = '{{ app.request.getHost() }}';
                    url = 'ws://' + url.replace('/', '') + ':8081';
                    
                    var socket;
                    
                    connect(url);
                });
            </script>
        {% endblock %}
    </body>
</html>
