{% macro icon(icon) %}
    {# For a complete list of icons, visit http://getbootstrap.com/components/#glyphicons-glyphs #}
    {% if config('design.icons', true) %}
        <span class="glyphicon glyphicon-{{ icon }}"></span>
    {% endif %}
{% endmacro %}
        
{% macro callout(title, text, type) %}
    <div class="bs-callout bs-callout-{{ type|default('info') }}">
        <h4>{{ title }}</h4>
        <p>{{ text }}</p>
    </div>
{% endmacro %}
        
{% macro navbar_item(translation, route) %}
    {# 
        TODO: normally this should only be used for debugging,
        we'll find a better/safer checking mechanism!
    #}
    <li{% if app.request.get('_route') == route %} class="active"{% endif %}>
        <a href="{{ path(route) }}">{{ translation|trans }}</a>
    </li>
{% endmacro %}